/**
 * WP-AdAgent Gutenberg Block Styles
 *
 * @package WP_AdAgent
 * @since   1.0.0
 */

/* ==========================================================================
   Block Editor Styles
   ========================================================================== */
.wp-block-pubcontext-ad-placement {
    margin: 20px auto;
}

.wp-adagent-block-preview {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wp-adagent-block-preview-icon svg {
    width: 48px;
    height: 48px;
    color: #1e1e1e;
    opacity: 0.5;
}

/* Placeholder styles */
.wp-block-pubcontext-ad-placement .components-placeholder {
    min-height: 150px;
}

.wp-block-pubcontext-ad-placement .components-placeholder__label svg {
    margin-right: 8px;
}

/* Selection styles */
.wp-block-pubcontext-ad-placement.is-selected .wp-adagent-block-preview {
    border-color: var(--wp-admin-theme-color, #007cba);
}

/* ==========================================================================
   Alignment
   ========================================================================== */
.wp-block-pubcontext-ad-placement.alignleft {
    margin-left: 0;
    margin-right: auto;
}

.wp-block-pubcontext-ad-placement.alignright {
    margin-left: auto;
    margin-right: 0;
}

.wp-block-pubcontext-ad-placement.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.wp-block-pubcontext-ad-placement.alignwide {
    max-width: none;
    width: calc(100% + 60px);
    margin-left: -30px;
}

.wp-block-pubcontext-ad-placement.alignfull {
    max-width: none;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}
